@import "shared";

* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Quicksand", sans-serif;
  cursor: default;
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
}

body {
  background-color: #fff;
}

img {
  max-width: 100%;
}
