.products-description {
  display: flex;
  margin: 220px 150px 120px 150px;

  @media (max-width: 1024px) {
    margin: 0 30px 100px 30px;
  }
  .blabla-box {
    width: 50%;
  }

  &__title {
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__info {
    margin-top: 50px;
    line-height: 1.5;
    padding-right: 200px;
    font-size: 20px;
    font-weight: 300;
  }
}

.services {
  padding: 100px 150px;
  display: flex;
  align-items: space-around;

  @media (max-width: 1024px) {
    padding: 100px 0px;
  }
  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;

  &__img {
    width: 400px;

    @media (max-width: 1024px) {
      width: 200px;
    }
  }

  &__title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 45px;
    margin-top: 50px;
  }

  &__description {
    font-weight: 300;
    font-size: 15px;
    margin-top: 30px;
    line-height: 1.6;
  }

  &__button {
    margin-top: 40px;
  }
}
