<footer class="footer">
   <div>
      <div class="tile">
         <img src="images/icons/information-icon.svg" class="tile__icon">
         <p class="tile__title">biuro obsługi klienta</p>
         <span class="tile__info">
            <a href="tel:+48322029188">+48 (32) 202 91 88</a>
         </span>
      </div>
      <div class="tile">
         <img src="images/icons/email-icon.svg" class="tile__icon">
         <p class="tile__title">e-mail</p>
         <span class="tile__info">
            <a href="mailto:agencja@agencjawmc.pl">agencja@agencjawmc.pl</a>
            <a href="mailto:serwis@agencjawmc.pl">serwis@agencjawmc.pl</a>
         </span>
      </div>
      <div class="tile">
         <img src="images/icons/localization-icon.svg" class="tile__icon">
         <p class="tile__title">adres</p>
         <span class="tile__info">ul. Bednorza 1</span>
         <span class="tile__info">40-384 Katowice</span>
      </div>
   </div>
   <div class="copy">
      <img src="images/logo.svg" class="logo logo-footer">
      <span class="copy__info">Copyright © 2019 Agencja WMC</span>
   </div>
</footer>