<header class="hero">
   <div class="hero__top">
      <nav class="small-menu">
         <ul class="small-menu__container">
            <li class="small-menu__item">
               <a href="#" class="small-menu__link">o wmc</a>
            </li>
            <li class="small-menu__item">
               <a href="#" class="small-menu__link">aktualności</a>
            </li>
            <li class="small-menu__item">
               <a href="#" class="small-menu__link">kariera</a>
            </li>
            <li class="small-menu__item">
               <a href="#" class="small-menu__link">kontakt</a>
            </li>
         </ul>
      </nav>
      <nav class="main-menu">
         <div class="logo ">
            <img src="images/logo.svg" class="logo--header" alt="Logo WMC">
            <p class="logo__title">agencja<br> interaktywna</p>
         </div>
         <nav class="navigation">
            <ul class="navigation__container">
               <li class="navigation__item">
                  <a href="#" class="navigation__link">PIM</a>
               </li>
               <li class="navigation__item navigation__item--weird">
                  <a href="#" class="navigation__link">Serwisy WWW</a>
               </li>
               <li class="navigation__item">
                  <a href="#" class="navigation__link">Rozwiązania dla firm</a>
               </li>
               <li class="navigation__item">
                  <a href="#" class="navigation__link"> Realizacje</a>
               </li>
               <li class="navigation__item">
                  <a href="#" class="navigation__link">Case study</a>
               </li>
            </ul>
         </nav>
         <nav class="social-navigation">
            <ul class="social-navigation__container">
               <li class="social-navigation__item">
                  <a href="#" class="social-navigation__link">
                     <img src="images/icons/search-icon.svg" class="social-navigation__icon">
                  </a>
               </li>
               <li class="social-navigation__item">
                  <a href="#" class="social-navigation__link">
                     <img src="images/icons/lang-icon.svg" class="social-navigation__icon">
                  </a>
               </li>
               <li class="social-navigation__item">
                  <a href="#" class="social-navigation__link">
                     <img src="images/icons/fb-icon.svg" class="social-navigation__icon">
                  </a>
               </li>
            </ul>
         </nav>
      </nav>
   </div>
   <div class="hero__content">
      <h1 class="hero__title">
         Realizujemy projekty internetowe.<br>
         Rozwijamy produkty programistyczne dla firm.
      </h1>
      <img class="mouse" src="images/icons/mouse-icon.svg" alt="Mouse">
   </div>
</header>