<section class="pim">
   <div class="pim__description">
      <h2 class="title">Ledline, serwis produktowy zintegrowany z PIM Luminati</h2>
      <h3 class="subtitle">Kompletna baza wiedzy o produktach i nowoczesny serwis WWW</h3>
      <button class="button">zobacz</button>
   </div>
   <div class="pim__navigation">
      <ul class="pim__navigation-container">
         <li class="pim__navigation-item">
            <a href="#" class="pim__navigation-link pim__navigation-link--active">01</a>
         </li>
         <li class="pim__navigation-item">
            <a href="#" class="pim__navigation-link">02</a>
         </li>
         <li class="pim__navigation-item">
            <a href="#" class="pim__navigation-link">03</a>
         </li>
      </ul>
   </div>
</section>