<section class="prroducts">
   <div class="products-description">
      <div class="blabla-box">
         <p>Poznaj nasze możliwości</p>
      </div>
      <div class="products-description__box">
         <h2 class="products-description__title">
            produkty<br>
            sprawdzone i niezawodne
         </h2>
         <p class="products-description__info">Stawiamy na kompleksową obsługę klientów. Rozumiemy ich potrzeby w zakresie nowoczesnego i efektywnego zarządzania informacją o produkcie, szybkiej komunikacji z partnerami biznesowymi i klientami oraz budowania spójnego wizerunku firmy i marki.</p>
      </div>
   </div>
   <div class="services">
      <article class="service">
         <img src="images/mockup_cms.png" class="service__img">
         <h3 class="service__title">wmc cms</h3>
         <p class="service__description">Autorskie rozwiązanie naszej agencji. System umożliwia w łatwy i bardzo elastyczny sposób zarządzania treściami na stronie WWW. Został zbudowany w oparciu o framework Symphony.</p>
         <button class="button service__button">czytaj więcej</button>
      </article>
      <article class="service">
         <img src="images/mockup_pim.png" class="service__img">
         <h3 class="service__title">pim lumanti</h3>
         <p class="service__description">Product Information Management to, mówiąc najprościej, kompletna baza wiedzy o produktach firmy. Zbiór rzeczywistych, kompletnych i aktualnych informacji, które są zgodne ze stanem rzeczywistym produktów.</p>
         <button class="button service__button">czytaj więcej</button>
      </article>
      <article class="service">
         <img src="images/mockup_delorian.png" class="service__img">
         <h3 class="service__title">dedykowane</h3>
         <p class="service__description">Dla najbardziej wymagających klientów wdrażamy oprogramowanie szyte na miarę: konfiguratory produktów, platformy do zarządzania pracą serwisantów i przedstawicieli handlowych, systemy do raportowania pracy urządzeń.</p>
         <button class="button service__button">czytaj więcej</button>
      </article>
   </div>
</section>