<section class="realizations">
   <div class="photo photo--top-left">
      <img src="images/jean-philippe.png">
   </div>
   <div class="realizations-description realizations-description--red">
      <h2 class="title">realizacje</h2>
      <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam velit nulla, aliquam ac est at, faucibus dictum odio.</p>
      <a href="#" class="link">Zobacz wszystkie realizacje</a>
   </div>
   <div class="realizations-description">
      <span class="subtitle">led-pol</span>
      <h2 class="title">realizacje</h2>
      <p class="content">Serwis produktowy zintegrowany z zewnętrznym systemem ERP. Wdrożone rozwiązania: katalog produktów, moduł realizacji, moduł lokacji, interaktywne formularze, kalkulatory oszczędności, moduł aktualności.</p>
   </div>
   <div class="photo photo--bottom-left">
      <span class="subtitle">serwis produktowy</span>
      <h3 class="title">neoheat</h3>
      <p class="info">serwis produktowy z konfiguratorem produktów</p>
      {# <img src="images/brian-babb.png"> #}
   </div>
   <div class="photo photo--bottom-right">
      <span class="subtitle">relacje inwestorskie</span>
      <h3 class="title">stalprofil s.a</h3>
      <p class="info">serwis korporacyjny i relacji inwestorskich.</p>
      {# <img src="images/banner_1.png"> #}
   </div>
</section>