<section class="realizations">
   <div class="photo photo--top-left">
      <img src="images/jean-philippe.png">
   </div>
   <div class="realizations-desctiption realizations-description--red">
      <h2 class="realizations-description__title">realizacje</h2>
      <p class="realizations-description__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam velit nulla, aliquam ac est at, faucibus dictum odio.</p>
      <a href="#" class="realizations-description__link">Zobacz wszystkie realizacje</a>
   </div>
   <div class="realizations-desctiption">
      <span class="realizations-description__subtitle">led-pol</span>
      <h2 class="realizations-description__title">realizacje</h2>
      <p class="realizations-description__content">Serwis produktowy zintegrowany z zewnętrznym systemem ERP. Wdrożone rozwiązania: katalog produktów, moduł realizacji, moduł lokacji, interaktywne formularze, kalkulatory oszczędności, moduł aktualności.</p>
   </div>
   <div class="photo photo--bottom-left">
      <span class="photo__subtitle">serwis produktowy</span>
      <h3 class="photo__title">neoheat</h3>
      <p class="photo__info">serwis produktowy z konfiguratorem produktów</p>
      <img src="images/brian-babb.png">
   </div>
   <div class="photo photo--bottom-right">
      <span class="photo__subtitle">relacjee inwestorskie</span>
      <h3 class="photo__title">stalprofil s.a</h3>
      <p class="photo__info">serwis korporacyjny i relacji inwestorskich.</p>
      <img src="images/banner_1.png">
   </div>
</section>