<section class="reference">
   <div class="reference__content">
      <div class="blabla-box">
         <p>przeczytaj referencje klientów</p>
      </div>
      <div class="reference__description-box">
         <h3 class="reference__title">mio lighting</h3>
         <p class="reference__info">Firma Mio Lighting powierzyła Agencji WMC stworzenie nowego serwisu www. Agencja zajęła się realizacją kompleksowo. Sposób, w jaki firma WMC podeszła do współpracy doskonale rozpoznając nasze potrzeby i poczucie estetyki sprawił, że realizacja dzieła przebiegała bardzo sprawnie i płynnie. Na szczególną uwagę zasługuje projekt graficzny strony. Przedstawiony nam layout bardzo dobrze wpisał się w naszą stylistykę i zyskał naszą akceptację.</p>
      </div>
   </div>
   <div class="reference__photo"></div>
</section>