{% extends 'base.html.twig' %}

{% block body %}

    {% include 'sections/header.html.twig' %}

    <main>
        {% include 'sections/pim-section.html.twig' %}
        {% include 'sections/products-section.html.twig' %}
        {# {% include 'sections/realizations-section.html.twig' %} #}
        {% include 'sections/reference-section.html.twig' %}
        {% include 'sections/news-section.html.twig' %}
    </main>
    
    {% include 'sections/footer.html.twig' %}
{% endblock %}
